/* learned-styles.csss */

.container {
    width: 980px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

img {
    border-radius: 8%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
