/* styles.css */

h1 {
    color: purple;
    font-family: cursive;
    text-align: center;
}


.list {
    text-align: center;
}
ul {
    font-size: 20px;
    font-family: monospace;
    list-style-type: none;
    display: inline-block;
    text-align: left;
}






 
